.columna{
    background: #E5B8AE;
    color: #000000;
    padding: 20px;
    width: 25%;
    margin: 10px;
}
.padre{
    display: flex;
}
.columna_Definicion{
    background: #6D433A;
    color: #f8f3d4;
    padding: 20px;
    width: 25%;
    margin: 10px;
}
.columna-title{
    background: #8C6A63;
    color: #f8f3d4;
    padding: 20px;
    width: 25%;
    margin: 10px;
}